<div class="login h-100">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-6 col-sm-12">
        <div class="user-content">
          <h1>Login For Learning new Technologies</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eius totam illum incidunt maxim porro vel
            amet ipsam!</p>
        </div>
        <form [formGroup]="formGroup">
          <div class="input-element">
            <mat-form-field class="w-100">
              <input matInput placeholder="Enter your email" formControlName="email" required>
              <mat-error *ngIf="formGroup.get('email')">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </form>
        <button mat-raised-button>Forget Password</button>
        <a class="a-color" routerLink="">Back to Login</a>
      </div>

      <div class="col-md-6 col-sm-12">
        <img src="assets/Images/SignUp.png" height="400" width="500">
      </div>
    </div>
  </div>