<div class="login h-100">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-6 col-sm-12">
        <div class="user-content">
          <h1>{{"Login For Learning New Technologies" | translate}}</h1>
        </div>
        <form [formGroup]="forgetForm">
          <div class="input-element">
            <mat-form-field class="w-100">
              <input matInput placeholder="Enter your email" formControlName="userEmail" required>
              <mat-error *ngIf="forgetForm.controls['userEmail'].hasError('required')">
                *{{"Please Enter your" | translate}} <strong>{{"Email"| translate}}</strong>
              </mat-error>
              <mat-error *ngIf="forgetForm.controls['userEmail'].hasError('email')">
                *{{"Not a"| translate}} <strong>{{"Valid Email"| translate}}</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </form>
        <div [ngClass]="{'not-allowed': !forgetForm.valid}">
          <button (click)="forgetPassword()" class="w-100" [disabled]="!forgetForm.valid" mat-raised-button>{{"Forget
            Password" | translate}}</button>
        </div>
        <a class="a-color" routerLink="">{{"Back to Login" | translate}}</a>
      </div>

      <div class="col-md-6 col-sm-12">
        <img class="img-fluid" src="assets/Images/signUp.png" alt="">
      </div>
    </div>
  </div>