<div class="login h-100">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-6 col-sm-12">
        <div class="user-content">
          <h1>Login For Learning new Technologies</h1>
        </div>
        <form [formGroup]="fogetForm">
          <div class="input-element">
            <mat-form-field class="w-100">
              <input matInput placeholder="Enter your email" formControlName="userEmail" required email>
              <mat-error *ngIf="fogetForm.controls['userEmail'].hasError('required')">
                *Please Enter your <strong>Email</strong>
              </mat-error>
              <mat-error *ngIf="fogetForm.controls['userEmail'].hasError('email')">
                *Not a <strong>Valid Email</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </form>
        <div [ngClass]="{'not-allowed': !fogetForm.valid}">
          <button (click)="forgetPassword()" class="w-100" [disabled]="!fogetForm.valid" mat-raised-button>Forget Password</button>
        </div>
        <a class="a-color" routerLink="">Back to Login</a>
      </div>

      <div class="col-md-6 col-sm-12">
        <img src="assets/Images/signUp.png" height="400" width="500" alt="">
      </div>
    </div>
  </div>