@import '../SCSS/varable.scss';
@import '../SCSS/material.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $app-font-family;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
  font-family: $app-font-family;
  font-weight: 300;
  font-size: 14px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 10px;
}

h6 {
  font-size: 5px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh !important;
}

.a-color {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #9CECFB;
  outline: 1px solid #9CECFB;
}

.app-bg {
  background: #9CECFB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.font-color {
  background-color: blue;
}
}