@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mdc-text-field__input {
  height: 50px !important;
}

.mat-mdc-form-field {
  line-height: 0;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: blue !important;
  color: #fff !important;
  width: 100% !important;
}

.mat-mdc-form-field-error {
  color: red;
}

.bg-body-tertiary {
  background-color: blue !important;
}

.btn-outline-success {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
  height: 60px;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {

  padding: 0px;
  padding-top: 8px;
}

.mat-mdc-select-value {
  padding-top: 3px;
}

.mat-mdc-card-content {
  padding-top: 20px !important;

  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    padding-bottom: 19px;

    .mat-drawer-content {
      margin-right: 0px !important;
    }

    .mat-icon {
      cursor: pointer !important;
    }
  }
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  padding-bottom: 13px;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: rgb(21, 21, 22) !important;
  
}