.mdc-text-field__input {
  height: 50px !important;
}

.mat-mdc-form-field{
  line-height: 0;
}

.mat-mdc-raised-button:not(:disabled){
  background-color: blue !important;
  color: #fff !important;
  width: 100% !important;
}