@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mdc-text-field__input {
  height: 50px !important;
}

.mat-mdc-form-field {
  line-height: 0;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: blue !important;
  color: #fff !important;
  width: 100% !important;
}

.mat-mdc-form-field-error {
  color: red;
}

.bg-body-tertiary {
  background-color: blue !important;
}

.btn-outline-success {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
  height: 60px;
}

.mat-drawer-content {
  margin-right: 0px !important;
}

.mat-icon {
  cursor: pointer !important;
}