@mixin mobile {
  @media (max-width: 850px) {
    @content;
  }
}

@mixin image1 {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin image2 {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin no-image2 {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin image-height {
  @media (max-height: 550px) {
    @content;
  }
}

@mixin padding {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin image-hide {
  @media (max-width: 770px) {
    @content;
  }
}

@mixin totalheight {
  @media (min-height: 500px) and (min-width: 770px) {
    @content;
  }
}

.main-content {
  @include totalheight {
    height: 100vh;
    overflow-y: hidden;
    margin-top: -50px;
  }
  margin: auto;
  scroll-behavior: smooth;
  padding-top: 20px;
  align-items: center;
  .block {
    padding: 30px 10px;
    border-radius: 10px;

    .title {
      font-family: "Poppins";
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.3rem;
      margin: 15px 0;
      padding-left: 60px;

      @include mobile {
        padding-left: 10px;
      }
    }

    .disc {
      padding-left: 60px;
      line-height: 23px;
      color: rgba(0, 0, 0, 0.432);
      font-size: 16px;

      @include mobile {
        padding-left: 10px;
      }
    }

    form {
      padding: 10px;

      .field {
        margin: 10px;
        padding: 0 30px;
        // line-height: 0;

        @include mobile {
          padding: 0 10px;
        }

        label {
          margin: 8px;
          font-size: 1rem;
        }

        .form-control {
          margin: 5px 0;
          border: 1px solid rgba(0, 0, 0, 0.493);
          height: 50px;
        }

        span {
          color: red;
          margin: 5px 0 0 30px;
        }

        .red {
          margin-top: 0px;
        }

        .full-width {
          width: 100%;
        }
      }

      .pass {
        .password {
          @include image2 {
            width: 50%;
          }
          @include no-image2 {
            width: 100%;
          }
        }
        .c-password {
          @include image2 {
            width: 48%;
            padding-left: 2%;
          }
          @include no-image2 {
            width: 100%;
            padding-left: 0;
          }
        }
        input {
          width: 90%;

          @include mobile {
            width: 83%;
          }

          display: inline-block;
          border-radius: 5px 0 0 5px;
          position: relative;
        }

        input.form-control {
          border-right: none;
        }
      }

      .reg {
        .not-allowed {
          cursor: not-allowed;
        }
        div {
          margin: 3px 0;
          text-align: center;
        }
      }
    }
  }

  .block2 {
    align-items: center;
    text-align: center;
    @include image-hide {
      display: none;
    }

    div {
      max-width: 370px;
      margin: auto;
      img {
        width: 100%;
      }
    }
  }
}

h4 {
  color: red;
  margin-top: 20px;
}
