<div class="main-content row container">
	<div class="block col-md-6 order-md-0 order-1 mat-elevation-z8">
		<div class="title">
			<h1> Sign up to Website</h1>
		</div>
		<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" class="form">
			<div class="field">
				<mat-form-field class="full-width">
					<input (keyup)="userNameNotNumber()" matInput type="text" placeholder="Enter your name" formControlName="userName">
					<mat-error *ngIf="registerForm.controls['userName'].hasError('required')">
						*Name is <strong>Required</strong>
					</mat-error>
					<mat-error *ngIf="registerForm.controls['userName'].hasError('minlength')">
						*atleast <strong>2 characters</strong>
					</mat-error>

				</mat-form-field>
			</div>
			<div class="field">
				<mat-form-field class="full-width">
					<input matInput placeholder="Enter your email" type="text" formControlName="userEmail">
					<mat-error *ngIf="registerForm.controls['userEmail'].hasError('required') ">
						*Email is <strong>Required</strong>
					</mat-error>
					<mat-error *ngIf="registerForm.controls['userEmail'].hasError('email')">
						*Not a <strong>Valid Email</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="field pass">

				<mat-form-field class="password" appearance="fill">
					<input (keyup)="matchPass()" autocomplete="off" matInput [type]="hide ? 'password' : 'text'"
						placeholder="Enter your password" formControlName="password">
					<button type="button" mat-icon-button matSuffix (click)="hide = !hide"
						[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
					<mat-error *ngIf="registerForm.controls['password'].hasError('required') ">
						*password is <strong>Required</strong>
					</mat-error>
					<mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
						*atleast <strong>6 characters</strong>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="c-password">
					<input (keyup)="matchPass()" #confirm matInput placeholder=" Confirm password" type="text"
						formControlName="confirm_password">
					<mat-error *ngIf="registerForm.controls['confirm_password'].hasError('required')">
						Please fill this field
					</mat-error>
				</mat-form-field>
				<h4 *ngIf="!passMatch && registerForm.controls['confirm_password'].dirty">Password Not Matched</h4>
			</div>
			<div class="field reg">
				<div [ngClass]="{'not-allowed' : !registerForm.valid} || !passMatch">
					<button class="w-100 rounded px-3 py-2" mat-raised-button color="primary"
						[disabled]="!registerForm.valid || !passMatch">Register</button>
				</div>
				<div class="acc">
					Have an account? <a routerLink="/session" class="a-color">Login</a>
				</div>
			</div>
		</form>
	</div>
	<div class="block2 col-md-6 order-md-1 order-0">
		<div>
			<img src="assets/Images/signUp.svg" alt="">
		</div>
	</div>
</div>