.main-content {
  padding: 10px;

  div{
    margin: 10px 0;
    cursor: pointer;
  }

  .card-containe {
    box-shadow: 0px 0px 5px black;

    img{
      height: 200px;
    }
    
  }
  .title{
    text-align: justify;
    overflow: hidden;
  }

}