:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
  }
  .mat-mdc-card{
    box-shadow: none;
  }
  mat-footer button{
    margin-left: auto;
  }
.password{
    margin:10px 0px;
}
form>h5{
    text-align: center;
    color: red;
    margin: 2px 0;
}