<mat-card>
    <mat-card-header>
        <h3>{{"Change Password" | translate}}</h3>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <mat-form-field class="password w-100">
                <mat-label>{{"Old Password" | translate}}</mat-label>
                <input matInput [placeholder]="'Old Password' | translate" [type]="hide? 'password':'text'"
                    formControlName="oldPassword">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')">
                    {{"Please fill this field" | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="password w-100">
                <mat-label>{{"New Password" | translate}}</mat-label>
                <input matInput [placeholder]=" 'New password' | translate" [type]="hide? 'password':'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="changePasswordForm.controls['password'].hasError('required')">
                    {{"Please fill this field" | translate}}
                </mat-error>
                <mat-error *ngIf="changePasswordForm.controls['password'].hasError('minlength')">
                    {{"*atleast " | translate}}<strong>{{"6 letters" | translate}}</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="password w-100">
                <mat-label>{{"Confirm New Password" | translate}}</mat-label>
                <input (keyup)="matchPass()" #confirm matInput [placeholder]=" 'Confirm New password' | translate" type="text"
                    formControlName="confirm_password">
                <mat-error *ngIf="changePasswordForm.controls['confirm_password'].hasError('required')">
                    {{"Please fill this field" | translate}}
                </mat-error>
            </mat-form-field>
            <h5 *ngIf="!passMatch && changePasswordForm.controls['confirm_password'].dirty">{{"Password Not
                Matched" | translate}}</h5>
        </form>
    </mat-card-content>
    <mat-card-footer>
        <button class="btn btn-primary" (click)="changePassword()" mat-button>{{"Submit" | translate}}</button>
    </mat-card-footer>
</mat-card>