mat-card {
    position: relative;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    box-shadow: 0 0 10px gray;
    overflow: scroll;
    min-height: 105px;
    min-width: 200px;
    overflow: scroll;

    .user-type {
        mat-form-field {
            width: 180px;
        }
        span {
            cursor: pointer;
        }
    }

    .date {
        margin: 0px 30px;
        mat-form-field {
            width: 180px;
        }
        mat-icon {
            cursor: pointer;
        }
    }

    .search {
        margin-right: 20px;
        display: flex;
        align-items: center;
        mat-icon {
            cursor: pointer;
        }
    }
}