<mat-card class="mat-elevation-z8">
  <mat-card-actions align="end">
    <div class="user-type">
      <mat-form-field *ngIf="!userTypeIcon" appearance="fill">
        <mat-label>User Type</mat-label>
        <mat-select name="user">
          <mat-option (click)="userSelect(user)" *ngFor="let user of userTypes" [value]="user.value">
            {{user.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="userTypeIcon" (click)="userClick()" class="material-icons">filter_alt</span>
      <span *ngIf="!userTypeIcon" (click)="userClick()" class="material-icons"
        style="color: rgb(0, 0, 255);">filter_alt</span>
    </div>
    <div class="date">
      <mat-form-field *ngIf="!dateIcon" appearance="fill" class="date-field">
        <mat-label>Choose a date</mat-label>
        <input autocomplete="off" #dateInputValue (dateInput)="dateSelect(picker1)" matInput [matDatepicker]="picker1"
          placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 ngDefaultControl></mat-datepicker>
      </mat-form-field>
      <mat-icon *ngIf="dateIcon" (click)="dateClick()">date_range</mat-icon>
      <mat-icon *ngIf="!dateIcon" (click)="dateClick()">close</mat-icon>
    </div>
    <div class="search" style="display: flex;align-items: center;">
      <mat-form-field *ngIf="!searchIcon" appearance="fill">
        <input #userSearch (keyup)="userSearching('s')" matInput placeholder="Enter the user name">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-icon *ngIf="searchIcon" (click)="searchClick()">search</mat-icon>
      <mat-icon *ngIf="!searchIcon" (click)="searchClick()">close</mat-icon>
    </div>
  </mat-card-actions>
</mat-card>

