@import '../../../assets/SCSS/varable.scss';

.whole-container {
    position: relative;
    .content {
        position: relative;
        font-family: $app-font-family;
        overflow-x: hidden;
        height: 455px;
        overflow-y: scroll;

        .add-section {
            position: relative;
            text-align: end;

            button {
                position: relative;
                margin-right: 10px;
                border: 2px solid black;
                border-radius: 0px;

                span {
                    position: relative;
                    bottom: 5px;
                }

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}