<div class="create-course-container">
    <div class="header">
        <h1>{{"Create Your Course" | translate}} </h1> <mat-icon>school</mat-icon>
    </div>
    <div class="stepper mat-elevation-z8" [ngClass]="{'vertical-stepper': isVerticalStepper}">
        <mat-stepper [orientation]="(stepperOrientation | async)!" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="courseNameGroup">
                <form [formGroup]="courseNameGroup" class="step-form">
                    <ng-template matStepLabel>{{"Enter Course Name" | translate}}</ng-template>
                    <div class="container">
                        <mat-form-field appearance="fill">
                            <mat-label>{{"Course Name" | translate}}</mat-label>
                            <input matInput placeholder="Ex. Python , Machine Learning etc."
                                formControlName="courseName" required>
                        </mat-form-field>
                    </div>
                    <div class="button-div" *ngIf="!isVerticalStepper">
                        <button mat-icon-button matStepperNext color="primary" title="{{'Next' | translate}}">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="categoryGroup">
                <form [formGroup]="categoryGroup" class="step-form">
                    <ng-template matStepLabel>{{"Choose Category" | translate}}</ng-template>
                    <button mat-icon-button matStepperPrevious color="primary" title="{{'Previous' | translate}}"
                        *ngIf="!isVerticalStepper">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <div class="container">
                        <mat-form-field appearance="fill">
                            <mat-label>{{"Category" | translate}}</mat-label>
                            <mat-select formControlName="category">
                                <mat-option *ngFor="let item of categoryList"
                                    value="{{item?._id}}">{{item?.categoryName | translate}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button mat-icon-button matStepperNext color="primary" title="{{'Next' | translate}}" *ngIf="!isVerticalStepper">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </form>
            </mat-step>
            <mat-step >
                <form  class="step-form">
                    <ng-template matStepLabel>{{"Add Course Image" | translate}}</ng-template>
                    <button mat-icon-button matStepperPrevious color="primary" title="{{'Previous' | translate}}"
                        *ngIf="!isVerticalStepper">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <div class="container" style="align-items: center;">
                        <div class="button-wrap">
                            <label class="button" for="img">{{"Upload File" | translate}}</label>
                            <input class="imageInput" type="file" id="img" name="img"
                                accept="image/*" (change)="fileChange($event)">
                        </div>
                        <div>
                            <label class="filename" id="filename"></label>
                        </div>
                    </div>
                    <button mat-icon-button matStepperNext color="primary" title="{{'Next' | translate}}" *ngIf="!isVerticalStepper">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </form>
            </mat-step>
            <mat-step [stepControl]="descriptionGroup">
                <form [formGroup]="descriptionGroup" class="step-form">
                    <ng-template matStepLabel>{{"Description" | translate}}</ng-template>
                    <button mat-icon-button matStepperPrevious color="primary" title="{{'Previous' | translate}}"
                        *ngIf="!isVerticalStepper">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <div class="container">
                        <mat-form-field appearance="fill">
                            <mat-label>{{"Course Description (optional)" | translate}}</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field>
                    </div>
                    <button mat-icon-button matStepperNext color="primary" title="{{'Next' | translate}}" *ngIf="!isVerticalStepper">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </form>
            </mat-step>
            <mat-step>
                <div class="step-form">
                    <ng-template matStepLabel>{{"Completed" | translate}}</ng-template>
                    <button mat-icon-button matStepperPrevious color="primary" title="{{'Previous' | translate}}"
                        *ngIf="!isVerticalStepper">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <div class="container">
                        <div>
                            <button mat-raised-button color="primary" class="complete-btn" (click)="submitCourseForm()">
                                {{"Submit" | translate}}
                            </button>
                        </div>
                    </div>
                    <button mat-icon-button color="primary" (click)="stepper.reset(); resetFileName()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>