<div class="course-detail" style="border: 1px solid red;">
    <mat-card class="col-md-12 mat-elevation-z2">
        <mat-card-header>
            Category > Web development
        </mat-card-header>
        <mat-card-content class="d-flex">
            <div class="row w-100">
                <div class="col-md-8">
                    <h1>Javascript</h1>
                    <p>The JavaScript Specialist course focuses on the fundamental concepts of the JavaScript language.
                        This
                        course will empower you with the skills to design client-side, platform-independent solutions
                        that
                        greatly increase the value of your Web site by providing interactivity and interest.</p>
                    <h3>Reetika Bahl</h3>
                </div>
                <div class="col-md-4 course-image">
                    <img mat-card-image src="../../../../../assets/Images/JS.png" width="200px" alt="course image">
                    <div class="btn-div">
                        <button mat-raised-button color="primary" class="btn">Enroll for free</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z2" style="margin-top: 10px;">
        <mat-card-content class="d-flex">
            <div class="row w-100">
                <div class="col-md-7 sections">
                    <h2>What you will learn</h2>
                    <ul>
                        <li>Coffee</li>
                        <li>Tea</li>
                        <li>Milk</li>
                    </ul>
                </div>
                <div class="col-md-5">

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>