<div class="course-details">
    <mat-card class="col-md-12 course-detail mat-elevation-z2" *ngIf="courseData && courseData?.categoryName">
        <mat-card-header>
            <mat-card-subtitle>{{"Category" | translate}} > {{courseData?.categoryName | translate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="d-flex">
            <div class="row  w-100">
                <div class="col-md-5">
                    <h1>{{courseData?.courseName}}</h1>
                    <p>{{courseData?.courseDescription}}</p>
                    <h4>{{"Created By" | translate}} <u>{{courseData?.creatorName}}</u></h4>
                </div>
                <div class="col-md-5 course-image">
                    <img mat-card-image [src]="courseData?.image" width="300px" height="175px" alt="course image">
                    <div class="btn-div">
                        <button mat-raised-button color="primary" class="btn">{{"Enroll for free" | translate}}</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z2 details-card">
        <mat-card-content class="d-flex">
            <div class="row w-100">
                <div class="col-md-5 sections">
                    <h2>What you will learn</h2>
                    <ul>
                        <li>Coffee</li>
                        <li>Tea</li>
                        <li>Milk</li>
                    </ul>
                </div>
                <div class="col-md-5 d-flex flex-column features">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="avatar-icon"><mat-icon>date_range</mat-icon></div>
                            <mat-card-title>Flexible Deadlines</mat-card-title>
                            <mat-card-subtitle>Learn as per your schedule</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="avatar-icon"><mat-icon>book</mat-icon></div>
                            <mat-card-title>Shareable Certificate</mat-card-title>
                            <mat-card-subtitle>Earn a Certificate upon completion</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="avatar-icon"><mat-icon>language</mat-icon></div>
                            <mat-card-title>100% Online</mat-card-title>
                            <mat-card-subtitle>Start instantly and learn at your own pace</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z2 sections-card">
        <mat-card-header>
            <mat-card-title class="text-center">
                {{"What you will learn from this course" | translate}}
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</div>