<div class="main-content row container">
	<div class="block col-md-7 order-md-0 order-1 mat-elevation-z8">
		<div class="title">
			<h1>{{"Change Password" | translate}}</h1>
		</div>
		<form [formGroup]="changeForm" (ngSubmit)="changePassword()" autocomplete="off" class="form">
			<div class="field pass">

				<mat-form-field class="password w-100" appearance="fill">
					<input (keyup)="matchPass()" autocomplete="off" matInput [type]="hide ? 'password' : 'text'"
						placeholder="Enter New password" formControlName="password">
					<button type="button" mat-icon-button matSuffix (click)="hide = !hide"
						[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
					<mat-error *ngIf="changeForm.controls['password'].hasError('required') ">
						*{{"password is" | translate}} <strong>{{"Required" | translate}}</strong>
					</mat-error>
					<mat-error *ngIf="changeForm.controls['password'].hasError('minlength')">
						*{{"atleast" | translate}} <strong>6 {{"characters" | translate}}</strong>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="c-password w-100">
					<input (keyup)="matchPass()" #confirm matInput placeholder=" Confirm password" type="text"
						formControlName="confirm_password">
					<mat-error *ngIf="changeForm.controls['confirm_password'].hasError('required')">
						{{"Please fill this field" | translate}}
					</mat-error>
				</mat-form-field>
				<h4 *ngIf="!passMatch && changeForm.controls['confirm_password'].dirty">{{"Password Not Matched" | translate}}</h4>
			</div>
			<div class="field reg">
				<div class="reg-div" [ngClass]="{'not-allowed' : !changeForm.valid} || !passMatch">
					<button class="w-100 rounded px-3 py-2" mat-raised-button color="primary"
						[disabled]="!changeForm.valid || !passMatch">{{"Change Password" | translate}}</button>
				</div>
				<div class="acc text-end mt-2">
					{{"Back to" | translate}} <a routerLink="/session" class="a-color">{{"Login?" | translate}}</a>
				</div>
			</div>
		</form>
	</div>
	<div class="block2 col-md-5 order-md-1 order-0">
		<div class="image-wrap">
			<img src="assets/Images/signUp.svg" alt="">
		</div>
	</div>
</div>