<div class="filter-com">
    <mat-card class="mat-elevation-z0">
        <div class="header" title="{{headerName}}">
            <h2>{{headerName}}</h2>
        </div>
        <ng-container *ngFor="let data of filterData" >
            <ng-container [ngSwitch]="data.type">
                <div class="user-type" *ngSwitchCase="'dropdown'">
                    <mat-form-field *ngIf="filterIsOpen[data.key+'IsOpen'] && dropDown" appearance="fill">
                        <mat-label>{{data.label}}</mat-label>
                        <mat-select name="dropdown">
                            <mat-option (click)="filterSelect(filter,data)" *ngFor="let filter of data.options"
                                [value]="filter._id">
                                {{filter.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-icon *ngIf="dropDown && filterIsOpen[data.key+'IsOpen']"
                        (click)="closeFilter(data)">close</mat-icon>
                </div>
                <div class="date" *ngSwitchCase="'date'">
                    <mat-form-field *ngIf="date && filterIsOpen[data.key+'IsOpen']" appearance="fill"
                        class="date-field">
                        <mat-label>{{data.label}}</mat-label>
                        <input autocomplete="off" #dateInputValue (dateInput)="filterSelect(dateInputValue,data)"
                            matInput [matDatepicker]="picker1" placeholder="MM/DD/YYYY">
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 ngDefaultControl></mat-datepicker>
                    </mat-form-field>
                    <mat-icon *ngIf="date && filterIsOpen[data.key+'IsOpen']" class="dateCross"
                        (click)="closeFilter(data)">close</mat-icon>
                </div>
                <div class="search" *ngSwitchCase="'text'">
                    <mat-form-field *ngIf="text && filterIsOpen[data.key+'IsOpen']" appearance="fill">
                        <input #userSearch (focusout)="userSearching($event)" matInput placeholder="Search">
                    </mat-form-field>
                    <mat-icon *ngIf="text && filterIsOpen[data.key+'IsOpen']"
                        (click)="searchClick(data.key)">close</mat-icon>
                </div>
            </ng-container>
        </ng-container>
        <div class="icons">
            <span *ngIf="!dropDown" (click)="dropDown = true" class="material-icons custom-icon">filter_alt</span>
            <mat-icon *ngIf="!date" (click)="date=true">date_range</mat-icon>
            <mat-icon *ngIf="!text" (click)="text=true">search</mat-icon>
            <mat-icon (click)="resetFilters()">refresh</mat-icon>
        </div>
    </mat-card>
</div>