.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    .row {

      .col-md-6{
        padding: 30px 50px; 
        border-radius: 10px;
      }
      
      .user-content {
        padding: 20px 0;
  
        p{
          color:  rgba(0, 0, 0, 0.43);
        }
      }

      .input-element {
        margin: 20px 0;
      }

      .checkbox{
        display: flex;
        justify-content: space-between;
      }

      .user-link{
        text-align: center;
        margin-top: 13px;

        a{
          cursor: pointer;
        }
      }

      .img-fluid{
        height: 100%;
      }
    }
  }
}
