<div class="main-content row container">
  <div class="block col-md-6 order-md-0 order-1 mat-elevation-z8">
    <div class="title">
      <h1>Login For Learning new Technologies</h1>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off" class="form">
      <div class="field">
        <mat-form-field class="w-100">
          <input matInput placeholder="Enter your email" type="text" formControlName="userEmail">
          <mat-error *ngIf="loginForm.controls['userEmail'].hasError('required') ">
            *Email is <strong>Required</strong>
          </mat-error>
          <mat-error *ngIf="loginForm.controls['userEmail'].hasError('email')">
            *Not a <strong>Valid Email</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field pass">
        <mat-form-field class="password" appearance="fill">
          <input autocomplete="off" matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password"
            formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required') ">
            *password is <strong>Required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="checkbox">
        <mat-checkbox>Remember Me</mat-checkbox>
        <a routerLink="/session/forget-password" class="a-color">Forget Password</a>
      </div>
      <div class="field reg">
        <div [ngClass]="{'not-allowed' : !loginForm.valid}">
          <button class="w-100 rounded px-3 py-2" mat-raised-button color="primary"
            [disabled]="!loginForm.valid">Login</button>
        </div>
        <div class="acc">
          Create a new account <a routerLink="/session/sign-up" class="a-color">SignUp</a>
        </div>
      </div>
    </form>
  </div>
  <div class="block2 col-md-6 order-md-1 order-0">
    <div>
      <img src="assets/Images/login.png" alt="" class="img-fluid">
    </div>
  </div>
</div>