.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    .row {

      .col-md-6{
        padding: 30px 50px; 
        border-radius: 10px;
      }
      
      .user-content {
        padding: 20px 0;
  
        p{
          color:  rgba(0, 0, 0, 0.43);
        }
      }

      .input-element {
        margin: 20px 0;
      }

      .checkbox{
        display: flex;
        justify-content: space-between;
      }

      .user-link{
        text-align: center;
        margin-top: 13px;

        a{
          cursor: pointer;
        }
      }

      .img-fluid{
        height: 100%;
      }
    }
  }
}

.end-result {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: rgba(255, 0, 0, 0.651);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}