<div class="login h-100">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-6 col-sm-12">
        <div class="user-content">
          <h1>Login For Learning new Technologies</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eius totam illum incidunt maxim porro vel amet ipsam!</p>
        </div>
        <form [formGroup]="formGroup">
        <div class="input-element">
          <mat-form-field class="w-100">
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="formGroup.get('email')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        
        <div class="input-element">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        </form>
      <div class="checkbox">
        <mat-checkbox>Remember Me</mat-checkbox>
        <a href="session/forget-password" class="a-color">Forget Password</a>
      </div>
      <button mat-raised-button (click)="login()">Login</button>
      <div class="user-link">
        <div>OR</div>
        Create an new account?
        <span>
          <a class="a-color">SignIn</a>
        </span>
      </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <img src="assets/Images/SignUp.png" height="400" width="500">
      </div>
    </div>
  </div>