<div class="login h-100">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-6 col-sm-12">
        <div class="user-content">
          <h1>Login For Learning new Technologies</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eius totam illum incidunt maxim porro vel amet ipsam!</p>
        </div>

        <div class="input-element">
          <mat-form-field class="w-100">
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="formGroup.get('email')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        
        <div class="input-element">
          <mat-form-field class="w-100">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="password">
          </mat-form-field> 
        </div>
  
      <div class="checkbox">
        <mat-checkbox>Remember Me</mat-checkbox>
        <a href="session/forget-password" class="a-color">Forget Password</a>
      </div>
      <button mat-raised-button>Login</button>
      </div>
      <div class="col-md-6 col-sm-12">
        <img src="assets/signIn.png" height="400" width="500">
      </div>
    </div>
  </div>


