@import '../../../assets/SCSS/varable.scss';

.course-info {
    font-family: $app-font-family;
    .blo {
        .title {
            font-size: 35px;
        }
        .author {
            text-align: right;
            font-style: italic;
            margin-right: 20px;
            letter-spacing: 1px;
            color: rgb(85, 85, 85);
        }
        .category {
            font-size: 25px;
        }
    }
}