<div class="main-container">
    <mat-tab-group>
        <mat-tab [label]="'Profile' | translate">
            <div class="edit-container row">
                <div class="form-container col-md-8">
                    <form [formGroup]="editProfieForm" (ngSubmit)="changeProfileData()">
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3> {{"Basic Information" | translate}} </h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field appearence="fill">
                                        <mat-label>{{"User Name" | translate}}</mat-label>
                                        <input type="text" matInput formControlName="userName">
                                        <mat-error
                                            *ngIf="editProfieForm.controls['userName'].hasError('required')">{{"Please
                                            fill
                                            this field" | translate}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field appearence="fill">
                                        <mat-label>{{"User Email" | translate}}</mat-label>
                                        <input type="text" matInput formControlName="userEmail">
                                        <mat-icon matSuffix>verified</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="userDetails.role=='Admin'">
                                <div class="col-md-5">
                                    <mat-form-field appearence="fill">
                                        <mat-label>{{"User Role" | translate}}</mat-label>
                                        <mat-select formControlName="userType">
                                            <mat-option *ngFor="let role of userTypes" [value]="role._id">
                                                {{role.viewValue | translate}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>{{"Language Preference"}}</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field appearence="fill">
                                        <mat-label>{{"Select Language" | translate}}</mat-label>
                                        <mat-select [(value)]="selected" matNativeControl>
                                            <mat-option [value]="'english'">
                                                {{"English" | translate}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </form>
                    <mat-card>
                        <mat-card-actions>
                            <button mat-button (click)="changeProfileData()">{{"Save" | translate}}</button>
                            <button mat-button (click)="cancelProfileUpdate()">{{"Cancel" | translate}}</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="image-container col-md-4">
                    <mat-card>
                        <img mat-card-image class="rounded-circle" [src]="image" #uploadImage alt="" height="200px"
                            width="200px">
                        <button mat-raised-button (click)="imageInput.click()">{{"Change Image" | translate}}
                            <mat-icon>attachment</mat-icon></button>
                        <input hidden type="file" (change)="onImageUpload($event)" accept="image/*" #imageInput id="">
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab [label]="'Notification Preference' | translate"></mat-tab>
    </mat-tab-group>
</div>