.main-card {

  .main-container {

    .sidenav {
      width: 210px;
      height: 100vh;
      background: #ffffff;
      color: #fff;

      .close {
        position: absolute;
        right: 0;
        cursor: pointer;
      }

      .usr-img {
        padding: 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .dashboard-title {
        padding: 20px 10px;
      }

      border: none;
    }

    .sidenav-wide {
      width: 300px !important;
    }

    .main-content-area {
      height: 100vh;
      max-width: 2500px;

      .main-toolbar {
        position: relative;

        .menu-icon {
          width: 30px;
        }

        mat-toolbar {
          color: #fff;
          background: #3f9eb5;
        }
      }

      .outlet-area {
        height: calc(100vh - 70px) !important;
        overflow: auto;
      }
    }


  }

  .main-toolbar {
    color: #fff;

    .logo {
      margin-left: 10px;
    }

    .notification-icon {
      .profile-sec {
        position: absolute;
        top: 50px;
        right: 30px;
        width: 150px;
        color: black;
        z-index: 100;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        text-align: center;
        border-radius: 5px;

        .logout {
          position: relative;
          cursor: pointer;

          mat-icon {
            position: relative;
            bottom: -2px;
          }
        }

        .profile {
          color: #000;
          position: relative;
          cursor: pointer;

          mat-icon {
            position: relative;
            bottom: -2px;
          }
        }
      }
    }
  }

}

.notification-icon {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

  .mat-icon {
    margin-left: 10px;
  }

  .mat-mdc-card {
    margin: 10px;
  }
}

.outlet-area {
  margin: 10px;
}

mat-icon {
  cursor: pointer;
}