.main-card {

  .main-container {

    .sidenav {
      width: 20%;
      height: 100vh;
      background-color: rgba(255, 255, 255, .3);
      color: #fff;

      .usr-img {
        padding: 30px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          width: 75%;
          height: 200px;
        }
      }

      .dashboard-title {
        padding: 20px 10px;
      }

      border: none;
    }

    .main-content-area {
      height: 100vh;

      .main-toolbar {
        mat-toolbar {
          color: #fff;
        }
      }

      .outlet-area {
        height: calc(100vh - 70px) !important;
        overflow: auto;
      }
    }


  }

  .main-toolbar {
    color: #fff;

    .logo {
      margin-left: 10px;
    }
  }

}

.notification-icon {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

  .mat-icon {
    margin-left: 10px;
  }

  .mat-mdc-card {
    margin: 10px;
  }
}

.outlet-area {
  margin: 10px;
}