<div class="main-card">
  <mat-drawer-container class="main-container">
    <mat-drawer #drawer class="sidenav" mode="side" opened>
      menu area
      <h3>Dashboard</h3>
    </mat-drawer>
    <div class="main-content-area">
      <div class="main-toolbar mat-elevation-z8">
        <mat-toolbar color="primary">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
      </div>

      <div class="outlet-area">
        <div style="margin: 10px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>